
    
h1{
    width: 140px;
    margin-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: black;
    background-size: 80px 60px;
    ;

    
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: yellow;

    
}

h2{
    width: 140px;
    margin-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: black;
    background-size: 80px 60px;

}
    




